.experience-container {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.description {
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.description h3 {
    font-size: 40px;
}

.description h3::after {
    content: "";
    width: 100px;
    height: 4px;
    background: #feb633;
    display: block;
    margin: 35px auto;
}

.description p {
    margin-bottom: 70px;
}

.card-container {
    display: flex;
    justify-content: center;
}

/* Light-Mode */
.light-mode .experience-container {
    background-color: #f6f8fc;
    transition: 0.5s;
}

/* Dark-Mode */
.dark-mode .experience-container {
    background-color: #393838;
    transition: 0.5s;
}

.dark-mode .description p {
    color: #9F9F9F;
}