.header {
    height: 100px;
  }

.header-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header-container .logo {
    height: 25px;
}

.header-container button {
    height: 40px;
    border: 2px solid #8a8fa3;
    border-radius: 100%;
    padding: 10px;
    background: none;
}

.header-container button:hover {
    cursor: pointer;
}

.header-container img{
    height: 100%;
}