.banner-container {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.banner-animation {
    width: 50%;
}

.banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.banner-title p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.banner-title h1 {
    font-size: 45px;
    font-weight: 500;
}

.banner-title h2 {
    font-size: 45px;
    font-weight: 800;
}

.banner-title p, h1, h2 {
    color: #022144;
}

.dark-mode .banner-title p, 
.dark-mode .banner-title h1, 
.dark-mode .banner-title h2 
{
    color: #fff;
}