.banner-container {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.banner-animation {
    width: 50%;
}

.banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}